<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">Notas de Projeto</div>
				<div class="panel-body">

					<table class="table">
						<thead>
							<tr>
								<th>Título</th>
								<th>Nota</th>
								<th>Ação</th>
							</tr>							
						</thead>

						<tbody>
							<tr ng-repeat="o in projectNotes">
								<td>{{ o.title }}</td>
								<td>{{ o.note | limitTo: 25}} ...</td>
								<td> <a ng-href="#/project/{{ o.project_id }}/notes/{{ o.id }}/edit">Editar</a> | <a ng-href="#/project/{{ o.project_id }}/notes/{{ o.id }}/remove">Remover</a></td>
							</tr>
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
	</div>
</div>
